/* на все сразу */
body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5; 
}

.link {
    text-decoration: none;
 }

 .link:hover, .link:focus {
    color: #404bbf;
}

.list {
   list-style: none; 
   margin: 0;
   padding: 0;
}

.list a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

img{
    display:block;
}  

.container {
    width: 1158px;
    display: flex;
    align-items: center;
    
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;   
    /* outline: 1px solid tomato; */
}


    /* --primary-text-color -#2E2F42; */
    /* --title-text-color- #434455; */
    /* --background-color: #404BBF; */
    /* --white-color: #FFFFFF; */
:root {
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
    --background-color: #404BBF;
    --white-color: #FFFFFF;
}

 /* logo */
.logo {
    color: #4D5AE5;
    
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    
    width: 115px;
    line-height: 1.17;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}   

/* header */

.header {
    border-bottom: 1px solid #e7e9fc
}

.logo-header-studio {
    color: var(--primary-text-color);
}

.contacts a {
    color: var(--title-text-color);
}

.contacts {
    font-style: normal
}

.nav-main {
    display: flex;
    align-items: center;
    gap: 40px;
}


.nav-address {
    display: flex;
    gap: 40px;

}


/* footer */

.footer {
    background-color: #2E2F42;
    padding: 106px 0;
}

.logo-footer-studio {
    color: #F4F4FD;
    margin-bottom: 17.5px;
    display: inline-block;
}

.title-footer {
    color: #F4F4FD;
    
    font-size: 16px;
    
    width: 264px;
    line-height: 1.5;
    margin-top: 0;
}


/* main Web*/

/* hero */
.hero {
    background-color: #2e2f42;
    text-align: center;
    margin-bottom: 120px;
    
}

.hero-title { 
    color: var(--white-color);
    
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    
    width: 496px;
    margin-bottom: 48px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    color: var(--white-color);
    background-color: #4D5AE5;
    
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    
     width: 169px;
    height: 56px;

    cursor: pointer;
    display: inline-block;
}

.hero-button:hover, .hero-button:focus {
    background-color: var(--background-color)
}

/* tactics */

.tactics {
    margin-bottom: 120px;
}

.tactics-title {
    color: var(--primary-text-color);
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
    margin-top: 0;
    margin-bottom: 8px;
}

.tactics-text {
    width: 264px;
} 

.text-content {
    display: flex;
}

.text-content .item:not(:first-child) {
    margin-left: 24px;

}


/* What are we doing */

.actions {
    margin-bottom: 120px;
}

.our-actions {
    color: var(--primary-text-color);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
   
    margin-bottom: 72px;

    text-align: center;
    text-transform: capitalize;
}

/* Our Team */
.team {
    background-color: #F4F4FD;
    margin-bottom: 120px;
}

.our-team { 
    color: var(--primary-text-color);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    padding-top: 120px;
    padding-bottom: 72px;

    text-align: center;  
    text-transform: capitalize;
}

.team-name {
    color: var(--primary-text-color);
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
    margin-top: 32px;
    margin-bottom: 8px;
}

.photo-team {
    background-color: var(--white-color);
}

/* .team-profession {
} */

/* main Portfolio */
.portfoli {
    margin-bottom: 120px;
}


.portfolio-button {
    color: #4D5AE5;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
   
    cursor: pointer;
}

.portfolio-button:hover, .portfolio-button:focus {
    color: var(--white-color);
    background-color:  var(--background-color)
}    

.img-name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em
}

.img-desc {
  color: var(--title-text-color);
} 